<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Channels</key>
	<array>
		<string>UCGCZAYq5Xxojl_tSXcVJhiQ</string>
		<string>UC6AG81pAkf6Lbi_1VC5NmPA</string>
		<string>UCwJXtk_1CKlCrh7YJDP2uPw</string>
		<string>UC6Ye6MKEFPjpxnaTXLeBRiA</string>
		<string>UC1zYGo1jIIjMVDTLL3dydow</string>
		<string>UCMKvT0YVLufHMdGLH89J1oA</string>
		<string>UC4dQUfQeA-Jy2T_C-Jdf5rw</string>
	</array>
</dict>
</plist>
